@tailwind base;
@tailwind components;
@tailwind utilities;


/* html {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(75% 75% at 0% 83%,
      #b38c6b38 0%,
      #073aff00 100%),
    radial-gradient(75% 75% at 79% 56%, #ffa4994d 0%, #073aff00 99%),
    radial-gradient(75% 75% at 91% 6%, #ffb79d6e 0%, #073aff00 100%),
    radial-gradient(75% 75% at 58% 101%, #ffc1996e 0%, #073aff00 100%),
    radial-gradient(75% 75% at 12% 22%, #ffd8ca 18%, #073aff00 99%),
    radial-gradient(142% 91% at -6% 74%, #ffe4da 1%, #ffe4da 99%);

  en home.jsx -> bg-color-#ff5ff26e // blob-color-#da1fbd81

} */

html {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-color: #e6e6e6;
}

.contact-bg {
  /* --tw-blur: blur(100px); */
  background-size: 100% 100%;
  background-position: 0px 0px,0px 0px,0px 0px,0px 0px;
  background-image: radial-gradient(30% 30% at 22% 70%, #0F3FFFA5 0%, #9028FF00 99%),
                    radial-gradient(25% 25% at 55% 25%, #9028FFA5 0%, #9028FF00 99%),
                    radial-gradient(33% 25% at 38% 46%, #06C9FFA5 0%, #9028FF00 99%),
                    radial-gradient(142% 91% at 111% 84%, #e6e6e6 0%, #e6e6e6 99%);
}

.custom-shadow {
  box-shadow: 20px 20px 40px 4px #00000031;
}

.fonts {
  font-family: "Raleway", sans-serif;
}

.fortin {
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
}

/* .home-bg {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(113% 91% at -33% 4%,#b800ff00 1%,#a1008a 1%, #b800ff00 99%),
    radial-gradient(142% 91% at -42% 79%, #b800ffd1 1%, #ff000000 99%),
    radial-gradient(75% 75% at 7% 35%, #6a1f8f66 0%, #073aff00 26%),
    radial-gradient(75% 75% at 33% 5%, #b6b0ffb5 0%, #073aff00 56%),
    radial-gradient(142% 91% at 111% 84%, #ffdbbbff 0%, #ffd7b3ff 100%);

  font-family: "Raleway", sans-serif;
  font-weight: 500;
} */

/* .about-bg {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(75% 75% at 0% 83%,
      #b38c6b38 0%,
      #073aff00 100%),
    radial-gradient(75% 75% at 79% 56%, #ffa4994d 0%, #073aff00 99%),
    radial-gradient(75% 75% at 91% 6%, #ffb79d6e 0%, #073aff00 100%),
    radial-gradient(75% 75% at 58% 101%, #ffc1996e 0%, #073aff00 100%),
    radial-gradient(75% 75% at 12% 22%, #ffd8ca 18%, #073aff00 99%),
    radial-gradient(142% 91% at -6% 74%, #ffe4da 1%, #ffe4da 99%);
} */

.parallax-bg {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(75% 75% at 0% 83%,
      #8332ac73 0%,
      #073aff00 100%),
    radial-gradient(75% 75% at 79% 56%, #e086 0%, #073aff00 99%),
    radial-gradient(75% 75% at 91% 6%, #e086d3ad 0%, #073aff00 100%),
    radial-gradient(75% 75% at 58% 101%, #462749b3 0%, #073aff00 100%),
    radial-gradient(75% 75% at 12% 22%, #db32b678 18%, #073aff00 99%),
    radial-gradient(142% 91% at -6% 74%, #a900ffc9 1%, #ffe4da 99%);
}

.menu-bg {
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: radial-gradient(142% 91% at 44% 45%,
      #f7ece1 1%,
      #ead6c9 32%,
      #e0c9b9ff 71%);
}

.footer {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-color: #272949;
}

.separador {
  background-size: 100% 100%;
  background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
  background-image: radial-gradient(75% 75% at 141% -12%, #FFDABA 58%, #073AFF00 100%),
  radial-gradient(75% 75% at 32% 2%, #DA68DB7A 0%, #073AFF00 98%),
  radial-gradient(70% 75% at -11% -6%, #DA68DB 11%, #073AFF00 100%),
  radial-gradient(75% 75% at 51% 109%, #FFD3C6 2%, #073AFF00 55%),
  radial-gradient(35% 30% at 29% 105%, #FFD9CA 1%, #073AFF00 72%),
  radial-gradient(75% 75% at 89% 107%, #FFCEBE 46%, #073AFF00 100%),
  radial-gradient(75% 75% at 21% 111%, #FFD9CC 39%, #073AFF00 100%),
  radial-gradient(142% 91% at 75% 22%, #FFCEBE 0%, #FFD3C4 100%);
}
.separadorPC {
  background-size: 100% 100%;
  background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
  background-image: radial-gradient(75% 75% at 82% 98%, #FCD1C1 7%, #B0606000 99%),
  radial-gradient(75% 75% at 33% 109%, #FFDACC 44%, #FFDACC00 100%),
  radial-gradient(75% 75% at 76% 101%, #FCD1C1 35%, #073AFF00 100%),
  radial-gradient(75% 75% at 3% -14%, #F1D1C1 0%, #073AFF00 100%),
  radial-gradient(75% 75% at 45% -2%, #FACCB9 0%, #FACCB900 65%),
  radial-gradient(75% 75% at 60% 10%, #FFD4C5 27%, #073AFF00 100%),
  radial-gradient(142% 91% at 75% 22%, #FFD2C4 0%, #FFD1AEFF 100%);
}

.separador-final {
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: linear-gradient(0deg, #462749 27%, #FCCDB8 100%);
}

.MuseoModerno {
  font-family: "MuseoModerno", sans-serif;
  font-weight: 600;
}

::selection {
  background-color: #242038;
  color: #f7ece1;
}

.highlight {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 1px black;
  line-height: 0.8;
}

.highlight:hover {
  color: #242038;
  /* Al hacer hover, el texto se vuelve negro */
}

.highlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f49dff;
  /* Color de fondo */
  z-index: -1;
  /* El fondo está detrás del texto */
  display: none;
  /* Inicialmente no se muestra el fondo */
}

.highlight:hover::before {
  display: block;
  /* El fondo se muestra al hacer hover */
}

/* *Barra de scroll custom */

/* Estilizar la barra completa */
/* ::-webkit-scrollbar { */
  /* width: 8px; Ancho de la barra */
/* } */

/* Track (fondo de la barra) */
/* ::-webkit-scrollbar-track { */
  /* background: #3f2240; */
  /* border-radius: 4px; */
/* } */

/* Thumb (la parte que se mueve) */
/* ::-webkit-scrollbar-thumb { */
  /* background: #201221; */
  /* border-radius: 4px; */
/* } */

/* Al pasar el mouse */
/* ::-webkit-scrollbar-thumb:hover { */
  /* background: #1d101e; */
/* } */